# Basics
*.py[cod]
*.pyc
__pycache__
.env
.cache

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Sqlite
*.db
*.sqlite
*.sqlite3

# Media & Static
media
/staticfiles/*
network/static/lib/
