{% extends "base.html" %}

{% load staticfiles %}
{% load tags %}

{% block title %}Home{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/lib/mapbox.css' %}">
{% endblock css %}

{% block prenav-content %}
  <div id="map"></div>
{% endblock prenav-content %}

{% block content %}
  <div class="row" id="call2action">
    {% if not request.user.is_authenticated %}
      <div class="col-md-8 col-md-offset-2 panel panel-default">
        <h3 class="text-center">
          Ground stations swarm control, at your fingertips.
          <button type="button"
                  class="btn btn-primary btn-lg"
                  data-toggle="modal"
                  data-target="#joinModal">
            Join us!
          </button>
        </h3>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Featured Ground Station</h3>
        </div>
        <div class="panel-body">
          <div class="text-center">
            <img src="{{ MEDIA_URL }}{{ featured_station.image }}"
                 class="img-gs-front"
                 alt="{{ featured_station.name }}"
                 title="{{ featured_station.name }}">
            <h3>
              <a href="{% url 'base:station_view' id=featured_station.id %}">
                 {{ featured_station.name }}
              </a>
            </h3>
          </div>
          <div class="caption">
            <div class="gs-front-line">
              <span class="label label-info">Owner</span>
              <span class="gs-front-data">
                <a href="{% url 'users:view_user' username=featured_station.owner.username %}">
                  {{ featured_station.owner.get_full_name }}
                </a>
              </span>
            </div>
            <div class="gs-front-line">
              <span class="label label-info">Coordinates</span>
              <span class="gs-front-data">
                {{ featured_station.lng|floatformat:2 }}°,
                {{ featured_station.lat|floatformat:2 }}°
              </span>
            </div>
            <div class="gs-front-line">
              <span class="label label-info">Antennas</span>
              <span class="gs-front-data">
                {% for antenna in featured_station.antenna.all %}
                  {{antenna.band}} {{ antenna.antenna_type }}{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
              </span>
            </div>
            <!--
            <div class="gs-front-line">
              <span class="label label-info">Success Rate</span>
              <span class="gs-front-data">
                <div class="progress">
                  <div class="progress-bar progress-bar-success" style="width: 88%">
                    <span class="sr-only">88% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 12%">
                    <span class="sr-only">12% Complete (danger)</span>
                  </div>
                </div>
              </span>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#successful" class="toggle" role="tab" data-toggle="tab">Latest Observations</a>
        </li>
        <li>
          <a href="#scheduled" class="toggle" role="tab" data-toggle="tab">Scheduled Observations</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="successful">
          <table class="table table-hover">
            <thead>
              <th>ID</th>
              <th>Satellite</th>
              <th>Frequency</th>
              <th>Encoding</th>
              <th>Timeframe</th>
              <th>Observer</th>
            </thead>
            <tbody>
              {% for observation in latest_observations.all %}
                <tr>
                  <td>
                    <a href="{% url 'base:observation_view' id=observation.id %}">
                      <span class="label
                                   {% if not observation.data_set.all %}
                                    label-danger
                                   {% else %}
                                    label-success
                                   {% endif %}">
                        {{ observation.id }}
                      </span>
                    </a>
                  </td>
                  <td>{{ observation.satellite.name }}</td>
                  <td>{% frq observation.transponder.downlink_low %}</td>
                  <td>{{ observation.transponder.mode }}</td>
                  <td>
                    {{ observation.start|date:"Y-m-d H:i:s" }}<br>
                    {{ observation.end|date:"Y-m-d H:i:s" }}
                  </td>
                  <td>
                    <a href="{% url 'users:view_user' username=observation.author.username %}">
                      {{ observation.author.get_full_name }}
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="scheduled">
          <table class="table table-hover">
            <thead>
              <th>ID</th>
              <th>Satellite</th>
              <th>Frequency</th>
              <th>Encoding</th>
              <th>Timeframe</th>
              <th>Observer</th>
            </thead>
            <tbody>
              {% for observation in scheduled_observations.all %}
                <tr>
                  <td>
                    <a href="{% url 'base:observation_view' id=observation.id %}">
                      <span class="label label-info">
                        {{ observation.id }}
                      </span>
                    </a>
                  </td>
                  <td>{{ observation.satellite.name }}</td>
                  <td>{% frq observation.transponder.downlink_low %}</td>
                  <td>{{ observation.transponder.mode }}</td>
                  <td>{{ observation.start|date:"Y-m-d H:i:s" }}</br>{{ observation.end|date:"Y-m-d H:i:s" }}</td>
                  <td>{{ observation.author.get_full_name }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- Join Modal -->
  <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Join SatNGOS Network</h4>
        </div>
        <div class="modal-body">
          SatNOGS network is under active development and not fully
          operational for Ground Station operators yet. Meanwhile you can join us by:
          <h3>Building a ground station</h3>
          Whether you own satellite ground station equipment or you want
          to build one you can head to
          <a href="https://satnogs.org" target="_blank">SatNOGS Project site</a>
          to get up to date documentation and info on how to build a SatNOGS ground station (still under development).
          <h3>Coding</h3>
          Fluent in Python and/or JS? We need you to help with satnogs-network Django application. Visit
          <a href="https://github.com/satnogs/satnogs-network/issues" target="_blank">our Github issues page</a> to
          start filling issues or code fixes for existing ones. Detailed contribution and development documentation
          is also availble <a href="https://github.com/satnogs/satnogs-network" target="_blank">here</a>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/lib/mapbox.js' %}"></script>
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
