{% extends "base.html" %}
{% load tags %}
{% load staticfiles %}

{% block title %} - Observations{% endblock %}

{% block content %}
  <h1>
    Observations
    {% if user.is_authenticated == 1 %}
      <a class="btn btn-primary pull-right" href="{% url 'base:observation_new' %}">New Observation</a>
    {% endif %}
  </h1>

  <button class="btn btn-default btn-sm" role="button" data-toggle="collapse"
          href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Filters
  </button>

  <div class="collapse{% if norad %} in{% endif %}" id="collapseFilters">
    <div class="filter-section">
      <h4>Data:</h4>
      <button class="btn btn-default btn-sm active" data-toggle="collapse"
              data-target=".bad" aria-expanded="true" aria-controls="bad">
        Bad
      </button>
      <button class="btn btn-default btn-sm active" data-toggle="collapse" data-target=".unvetted"
              data-target=".unvetted" aria-expanded="true" aria-controls="unvetted">
        Unvetted
      </button>
      <button class="btn btn-default btn-sm active" data-toggle="collapse" data-target=".good"
              data-target=".good" aria-expanded="true" aria-controls="good">
        Good
      </button>
    </div>

    <div class="filter-section">
      <form id="satellite-filter" class="form-inline" methon="get" action="{% url 'base:observations_list' %}">
        <div class="form-group">
          <h4>Satellite:</h4>
          <select class="form-control" name="norad" autocomplete="off" id="satellite-selection">
            <option value="" selected>All</option>
            {% for satellite in satellites %}
              <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}"
                      {% ifequal satellite.norad_cat_id norad %}selected{% endifequal %}>
                {{ satellite.norad_cat_id }} - {{ satellite.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <th>ID</th>
          <th>Satellite</th>
          <th>Frequency</th>
          <th>Encoding</th>
          <th>Timeframe</th>
          <th>Observer</th>
        </thead>
        <tbody>
          {% for observation in observations.all %}
            <tr{% if observation.has_no_data %}
                  class="satellite-row bad collapse in"
                {% elif observation.has_verified_data %}
                  class="satellite-row good collapse in"
                {% elif observation.has_unvetted_data %}
                  class="satellite-row unvetted collapse in"
                {% endif %}
                data-norad="{{ observation.satellite.norad_cat_id }}">
              <td>
                <a href="{% url 'base:observation_view' id=observation.id %}">
                  <span class="label
                               {% if observation.has_verified_data %}
                                label-success" title="There is known good data in this observation"
                               {% elif observation.is_future %}
                                label-info" title="This observation is in the future"
                               {% elif observation.has_unvetted_data %}
                                label-warning" title="There is data that needs vetting in this observation"
                               {% else %}
                                label-danger" title="No good data in this observation"
                               {% endif %}>
                    {{ observation.id }}
                  </span>
                </a>
              </td>
              <td>
                <a href="#" data-toggle="modal" data-target="#SatelliteModal" data-id="{{ observation.satellite.norad_cat_id }}">
                  {{ observation.satellite.name }}
                </a>
              </td>
              <td>{{ observation.transmitter.downlink_low|frq }}</td>
              <td>{{ observation.transmitter.mode|default:"-" }}</td>
              <td>{{ observation.start|date:"Y-m-d H:i:s" }}</br>{{ observation.end|date:"Y-m-d H:i:s" }}</td>
              <td>
                <a href="{% url 'users:view_user' username=observation.author.username %}">
                  {{ observation.author.displayname }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include 'includes/satellite.html' %}
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/observations.js' %}"></script>
  <script src="{% static 'js/satellite.js' %}"></script>
{% endblock javascript %}
