{% extends "base.html" %}

{% load staticfiles %}
{% load tags %}

{% block title %}New Observation{% endblock %}

{% block css %}
  <link href="{% static 'css/lib/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/lib/spinner.css' %}">
{% endblock css %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h2>New Observation</h2>
  </div>
</div>

<form class="form-horizontal" role="form" action="{% url 'base:observation_new' %}" method="post">{% csrf_token %}
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-sm-3 control-label">Satellite</label>
      <div class="col-sm-9">
        <select id="satellite-selection" class="form-control" name="satellite">
          <option value="" disabled selected>Select a satellite</option>
          {% for satellite in satellites %}
            <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}">
              {{ satellite.norad_cat_id }} - {{ satellite.name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Transponder</label>
      <div class="col-sm-9">
        <select id="transponder-selection" class="form-control" disabled name="transponder">
          <option id="no-transponder" value="" disabled selected>No transponder available</option>
          {% for transponder in transponders %}
            <option data-satellite="{{ transponder.satellite.norad_cat_id }}"
                    value="{{ transponder.id }}">
              {{ transponder.description }} - {% frq transponder.downlink_low %} - {{ transponder.mode }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-sm-3 control-label">Start Time</label>
      <div class="col-sm-9">
        <div class='input-group date' id="datetimepicker-start"
             data-date-minstart="{{ date_min_start }}">
          <input type="text"
                 class="form-control"
                 name="start-time"
                 data-date-format="YYYY-MM-DD HH:mm"
                 autocomplete="off">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">End Time</label>
      <div class="col-sm-9">
        <div class='input-group date' id="datetimepicker-end"
             data-date-maxrange="{{ date_max_range }}">
          <input type="text"
                 class="form-control"
                 name="end-time"
                 data-date-format="YYYY-MM-DD HH:mm"
                 autocomplete="off">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <small class="pull-right">
          <strong>IMPORTANT:</strong>
          Timeframe is considered to be in UTC timezone.
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" id="calculate-observation" class="btn btn-primary pull-right">
      Calculate Observation
    </button>
  </div>
</div>

<div class="row calculation-result">
  <div class="col-md-12">
    <h3>Calculated Timeline</h3>
    <div class="graph-spinner">
      <div class="three-quarters" id="spinner-data">loading...</div>
    </div>
    <div id="timeline">
    </div>
    <div id="hoverRes">
      <div class="coloredDiv"></div>
      <div id="name"></div>
      <div id="scrolled_date"></div>
    </div>
    <div id="windows-data"></div>
  </div>
</div>

<div class="row calculation-result">
  <div class="col-md-12">
    <button type="submit" id="calculate-observation" class="btn btn-success pull-right">
      Schedule Observation
    </button>
  </div>
</div>
</form>

{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/lib/d3.v3.min.js' %}"></script>
  <script src="{% static 'js/lib/d3-timeline.js' %}"></script>
  <script src="{% static 'js/lib/moment.min.js' %}"></script>
  <script src="{% static 'js/lib/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/observation_new.js' %}"></script>
{% endblock javascript %}
