{% extends "base.html" %}
{% load tags %}

{% load staticfiles %}

{% block title %}Ground Station {{ station.name }}{% endblock %}

{% block css %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
{% endblock css %}

{% block content %}
  <h2 id="station-info"
      data-name="{{ station.name }}"
      data-id="{{ station.id }}"
      data-lng="{{ station.lng }}"
      data-lat="{{ station.lat }}">
     {{ station.id }} - {{ station.name }}
    {% if request.user == station.owner %}
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#StationModal">Edit Ground Station</button>
      <!-- Station Modal -->
      {% include 'includes/station_edit.html' %}
    {% endif %}
  </h2

  <div class="row">
    <div class="col-md-4">
      <div class="gs-front-line">
        <span class="label label-default">Owner</span>
        <span class="gs-front-data">
          <a href="{% url 'users:view_user' username=station.owner.username %}">
            {{ station.owner.get_full_name }}
          </a>
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label label-default">Location</span>
        <span class="gs-front-data">
          {{ station.location }}
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label label-default">Coordinates</span>
        <span class="gs-front-data">
          {{ station.lat|floatformat:-3 }}, {{ station.lng|floatformat:-3 }}
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label label-default">Altitude</span>
        <span class="gs-front-data">
          {{ station.alt }} m
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label label-default">Creation Date</span>
        <span class="gs-front-data"
              title="{{ station.created|date:"c" }}">
          {{ station.created|timesince }} ago
        </span>
      </div>
    </div>
    <div class="col-md-4">
      {% for antenna in station.antenna.all %}
        <div class="gs-front-line">
          <span class="label label-default">Antenna</span>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            {{ antenna.band }} - {{ antenna.antenna_type }} - {% frq antenna.frequency %}
          </div>
        </div>
      {% empty %}
        <p class="notice">
          No antenna associated with this station.
        </p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <img src="{{ station.get_image }}"
           class="station-view-image"
           alt="{{ station.name }}"
           title="{{ station.name }}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="map-station"></div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/station_view.js' %}"></script>
{% endblock javascript %}