{% extends "base.html" %}
{% load tags %}

{% load staticfiles %}

{% block title %} - Ground Station {{ station.name }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/lib/mapbox.css' %}">
{% endblock css %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h2 id="station-info"
          data-name="{{ station.name }}"
          data-id="{{ station.id }}"
          data-lng="{{ station.lng }}"
          data-lat="{{ station.lat }}">
        {{ station.id }} - {{ station.name }}
      </h2>
    </div>
    <div class="col-md-6 text-right">
      <h2>
        {% if request.user == station.owner %}
          <button class="btn btn-primary" data-toggle="modal" data-target="#StationModal">Edit Ground Station</button>
        {% endif %}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="gs-front-line">
        <span class="label label-default">Owner</span>
        <span class="gs-front-data">
          <a href="{% url 'users:view_user' username=station.owner.username %}">
            {{ station.owner.displayname }}
          </a>
        </span>
      </div>
      {% if station.qthlocator %}
        <div class="gs-front-line">
          <span class="label label-default">QTH Locator</span>
          <span class="gs-front-data">
            {{ station.qthlocator }}
          </span>
        </div>
      {% endif %}
      {% if station.location %}
        <div class="gs-front-line">
          <span class="label label-default">Location</span>
          <span class="gs-front-data">
            {{ station.location }}
          </span>
        </div>
      {% endif %}
      <div class="gs-front-line">
        <span class="label label-default">Coordinates</span>
        <span class="gs-front-data">
          {{ station.lat|floatformat:-3 }}°, {{ station.lng|floatformat:-3 }}°
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label label-default">Altitude</span>
        <span class="gs-front-data">
          {{ station.alt }} m
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label label-default">Creation Date</span>
        <span class="gs-front-data"
              title="{{ station.created|date:"c" }}">
          {{ station.created|timesince }} ago
        </span>
      </div>
      {% if station.success_rate %}
        <div class="gs-front-line">
          <span class="label label-default">Success Rate</span>
          <span class="gs-front-data">
            <div class="progress" title="{{ station.success_rate }}%">
              <div class="progress-bar progress-bar-success" style="width: {{ station.success_rate }}%">
                <span class="sr-only">{{ station.success_rate }}% Complete (success)</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: {{ station.success_rate|percentagerest }}%">
                <span class="sr-only">{{ station.success_rate|percentagerest }}% Complete (danger)</span>
              </div>
            </div>
          </span>
        </div>
      {% endif %}
      <div class="gs-front-line">
        {% if station.online %}
          <span class="label label-success">Online</span>
        {% else %}
          <span class="label label-danger">Offline</span>
        {% endif %}
        <span class="gs-front-data"
              title="{{ station.last_seen|date:"c" }}">
          {% if station.last_seen %}
            Last seen {{ station.last_seen|timesince }} ago
          {% else %}
            Never seen
          {% endif %}
        </span>
      </div>
    </div>
    <div class="col-md-4">
      {% for antenna in station.antenna.all %}
        <div class="gs-front-line">
          <span class="label label-default">Antenna</span>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            {{ antenna.band }} - {{ antenna.antenna_type }} - {{ antenna.frequency }} MHz
          </div>
        </div>
      {% empty %}
        <p class="notice">
          No antenna associated with this station.
        </p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <img src="{{ station.get_image }}"
           class="station-view-image"
           alt="{{ station.name }}"
           title="{{ station.name }}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="map-station" data-mapboxid="{{ mapbox_id }}" data-mapboxtoken="{{ mapbox_token }}"></div>
    </div>
  </div>

  {% if request.user == station.owner %}
    <!-- Station Modal -->
    {% include 'includes/station_edit.html' %}
  {% endif %}
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/lib/mapbox.js' %}"></script>
  <script src="{% static 'js/station_view.js' %}"></script>
  <script src="{% static 'js/gridsquare.js' %}"></script>
{% endblock javascript %}
