{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load avatar_tags %}

{% block title %} - Settings{% endblock %}

{% block content %}
  <h2>{% block header %}User: {{ user.username }}{% endblock %}</h2>

  <div class="row">
    <div class="col-md-5">
      <form method="post"
            action="{% url 'users:update_user' %}">{% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-sm btn-primary">Update</button>
        </div>
      </div>
    </form>
    </div>
  </div>
{% endblock %}
