/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.img-avatar {
  border: 2px solid white;
  border-radius: 50px;
  float: left;
  margin: 0 auto;
  margin-top: -7px;
  margin-right: 5px;
}

#main-navbar {
  margin-top: 2%;
}

#map {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 450px;
}

#call2action {
  margin-top: 240px;
  height: 88px;
  margin-bottom: 50px;
}

.img-gs-front {
  width: 200px;
  border-radius: 5px;
}

.gs-front-data {
  float: right;
  width: 200px;
}

.gs-front-line {
  margin-top: 10px;
}

#navbar-logo {
  width: 80px;
}

#call2action .btn-lg {
  margin-left: 30px;
  margin-top: -8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
.timeline-label {
  font-family: sans-serif;
  font-size: 12px;
}
#timeline2 .axis {
  transform: translate(0px,30px);
  -ms-transform: translate(0px,30px); /* IE 9 */
  -webkit-transform: translate(0px,30px); /* Safari and Chrome */
  -o-transform: translate(0px,30px); /* Opera */
  -moz-transform: translate(0px,30px); /* Firefox */
}
.coloredDiv {
  height:20px; width:20px; float:left;
}

.playpause {
  margin-right: 20px;
}

.edit-profile-buttons {
  margin-right: 30px;
}

.notice {
  text-align: center;
  color: #888;
}

.calculation-result {
  display: none;
}