{% extends "base.html" %}

{% load staticfiles i18n %}

{% block title %}Home{% endblock %}

{% block css %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
{% endblock css %}

{% block prenav-content %}
  <div id="map"></div>
{% endblock prenav-content %}

{% block content %}
  <div class="row" id="call2action">
    {% if request.user.is_authenticated %}
    {% else %}
      <div class="col-md-8 col-md-offset-2 panel panel-default">
        <h3 class="text-center">
        Ground stations swarm control, at your fingertips.
        <button type="button" class="btn btn-primary btn-lg">Join us!</button>
        </h3>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Featured Ground Station</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
              <img src="" class="img-gs-front" alt="">
              <h3></h3>
            </div>
            <div class="caption">
              <div class="gs-front-line">
                <span class="label label-info">Owner</span>
                <span class="gs-front-data"><a href="#"></a></span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Location</span> 
                <span class="gs-front-data"></span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Coordinates</span>
                <span class="gs-front-data"></span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Antennas</span>
                <span class="gs-front-data"></span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Success Rate</span>

                <span class="gs-front-data">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%">
                      <span class="sr-only">0% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 0%">
                      <span class="sr-only">0% Complete (danger)</span>
                    </div>
                  </div>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#successful" role="tab" data-toggle="tab">Latest Observations</a></li>
        <li><a href="#scheduled" role="tab" data-toggle="tab">Scheduled Observations</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="successful">
          <table class="table table-hover">
            <thead>
              <th>ID</th>
              <th>Satellite</th>
              <th>Frequency</th>
              <th>Encoding</th>
              <th>Timeframe</th>
              <th>Observer</th>
            </thead>
          </table>
        </div>
        <div class="tab-pane" id="scheduled">
          <table class="table table-hover">
            <thead>
              <th>ID</th>
              <th>Satellite</th>
              <th>Frequency</th>
              <th>Encoding</th>
              <th>Timeframe</th>
              <th>Observer</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/home.js' %}">
{% endblock %}