{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
{% endblock css %}

{% block prenav-content %}
  <div id="map"></div>
{% endblock prenav-content %}

{% block content %}
  <div class="row" id="call2action">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
      <h3 class="text-center">
      Ground stations swarm control, at your fingertips.
      <button type="button" class="btn btn-primary btn-lg">Join us!</button>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Featured Ground Station</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
              <img src="static/images/ground_station_test.jpg" class="img-gs-front" alt="...">
              <h3>Acropolis 1</h3>
            </div>
            <div class="caption">
              <div class="gs-front-line">
                <span class="label label-info">Owner</span>
                <span class="gs-front-data"><a href="#">John Giannelos (nemo)</a></span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Location</span> 
                <span class="gs-front-data">Athens, Greece</span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Coordinates</span>
                <span class="gs-front-data">38.2N 23.1E</span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Antennas</span>
                <span class="gs-front-data">VHF & UHF</span>
              </div>
              <div class="gs-front-line">
                <span class="label label-info">Success Rate</span>

                <span class="gs-front-data">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 85%">
                      <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 15%">
                      <span class="sr-only">10% Complete (danger)</span>
                    </div>
                  </div>
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#successful" role="tab" data-toggle="tab">Latest Observations</a></li>
        <li><a href="#scheduled" role="tab" data-toggle="tab">Scheduled Observations</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="successful">
          <table class="table table-hover">
            <thead>
              <th>ID</th>
              <th>Satellite</th>
              <th>Frequency</th>
              <th>Encoding</th>
              <th>Timeframe</th>
              <th>Observer</th>
            </thead>
            <tbody>
              <tr>
                <td><span class="label label-success">04424</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>144.800 Mhz</td>
                <td>AFSK</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">nemo</a></td>
              </tr>
              <tr>
                <td><span class="label label-success">04436</span></td>
                <td><a href="#">40088 2014-040C ORBCOMM FM 106</a></td>
                <td>433.950 Mhz</td>
                <td>CW</td>
                <td>2014-08-25 22:00 </br> 2014-08-26 03:00</td>
                <td><a href="#">pierros</a></td>
              </tr>
              <tr>
                <td><span class="label label-danger">04524</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>430.600 Mhz</td>
                <td>FM Voice</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">mathos</a></td>
              </tr>
              <tr>
                <td><span class="label label-success">04444</span></td>
                <td><a href="#">39092 2013-009G BRITE-U UNIBRITE</a></td>
                <td>145.800 Mhz</td>
                <td>AFSK</td>
                <td>2014-08-27 22:00 </br> 2014-08-28 03:00</td>
                <td><a href="#">acinonyx</a></td>
              </tr>
              <tr>
                <td><span class="label label-danger">04234</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>145.825 Mhz</td>
                <td>SSTV</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">ododos</a></td>
              </tr>
              <tr>
                <td><span class="label label-success">04465</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>145.200 Mhz</td>
                <td>FM Voice</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">azisi</a></td>
              </tr>
              <tr>
                <td><span class="label label-success">04424</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>144.800 Mhz</td>
                <td>AFSK</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">nemo</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="scheduled">
          <table class="table table-hover">
            <thead>
              <th>ID</th>
              <th>Satellite</th>
              <th>Frequency</th>
              <th>Encoding</th>
              <th>Timeframe</th>
              <th>Observer</th>
            </thead>
            <tbody>
              <tr>
                <td><span class="label label-primary">04234</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>145.825 Mhz</td>
                <td>SSTV</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">ododos</a></td>
              </tr>
              <tr>
                <td><span class="label label-primary">04424</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>144.800 Mhz</td>
                <td>AFSK</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">nemo</a></td>
              </tr>
              <tr>
                <td><span class="label label-primary">04436</span></td>
                <td><a href="#">40088 2014-040C ORBCOMM FM 106</a></td>
                <td>433.950 Mhz</td>
                <td>CW</td>
                <td>2014-08-25 22:00 </br> 2014-08-26 03:00</td>
                <td><a href="#">pierros</a></td>
              </tr>
              <tr>
                <td><span class="label label-primary">04524</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>430.600 Mhz</td>
                <td>FM Voice</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">mathos</a></td>
              </tr>
              <tr>
                <td><span class="label label-primary">04444</span></td>
                <td><a href="#">39092 2013-009G BRITE-U UNIBRITE</a></td>
                <td>145.800 Mhz</td>
                <td>AFSK</td>
                <td>2014-08-27 22:00 </br> 2014-08-28 03:00</td>
                <td><a href="#">acinonyx</a></td>
              </tr>
              <tr>
                <td><span class="label label-primary">04465</span></td>
                <td><a href="#">40092 2011-043G HAIYANG 2A</a></td>
                <td>145.200 Mhz</td>
                <td>FM Voice</td>
                <td>2014-08-23 22:00 </br> 2014-08-24 03:00</td>
                <td><a href="#">azisi</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script>
  L.mapbox.accessToken = 'pk.eyJ1IjoicGllcnJvcyIsImEiOiJhTVZyWmE4In0.kl2j9fi24LDXfB3MNdN76w';
  var map = L.mapbox.map('map', 'pierros.jbf6la1j')
  .setView([40, 0], 3);
  $('#successful a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
  })
  </script>
{% endblock %}