{% extends "base.html" %}

{% block title %}Observations{% endblock %}

{% block content %}
<h1>
  Observations
  {% if user.is_authenticated == 1 %}
    <a class="btn btn-primary pull-right" href="{% url 'observation_new' %}">New Observation</a>
  {% endif %}
</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <th>ID</th>
        <th>Satellite</th>
        <th>Frequency</th>
        <th>Encoding</th>
        <th>Timeframe</th>
        <th>Observer</th>
      </thead>
      <tbody>
        {% for observation in observations.all %}
          <tr>
            <td>
              <a href="{% url 'base.views.view_observation' id=observation.id %}">
                <span class="label
                             {% if not observation.data_set.all %}
                              label-danger
                             {% else %}
                              label-success
                             {% endif %}">
                  {{ observation.id }}
                </span>
              </a>
            </td>
            <td>{{ observation.satellite.name }}</td>
            <td>{{ observation.transponder.downlink_low }}</td>
            <td>{{ observation.transponder.mode }}</td>
            <td>{{ observation.start|date:"Y-m-d H:i:s" }}</br>{{ observation.end|date:"Y-m-d H:i:s" }}</td>
            <td>
              <a href="{% url 'users:view_user' observation.author.username %}">
                {{ observation.author.get_full_name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}