{% extends "base.html" %}
{% load tags %}

{% block title %}Ground Stations{% endblock %}

{% block content %}
<h1>
  Ground Stations
  {% if user.is_authenticated %}
    <a class="btn btn-primary pull-right" href="">New Ground Station</a>
  {% endif %}
</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Altitude</th>
        <th>Antenna</th>
      </thead>
      <tbody>
        {% for station in stations.all %}
          <tr>
            <td>
              <a href="#">
                <span class="label label-default">
                  {{ station.id }}
                </span>
              </a>
            </td>
            <td>{{ station.name }}</td>
            <td>{{ station.lat }}, {{ station.lng }}</td>
            <td>{{ station.alt}} m</td>
            <td>
              {% for antenna in station.antenna.all %}
                {{ antenna.antenna_type}} on {{ antenna.frequency }} ({{ antenna.band}})<br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
